<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.order_service.repository.OrderMapper">
    <select id="findUserOrders" resultType="com.example.order_service.dto.OrderDto">
        SELECT * 
        FROM orders 
        WHERE user_id = #{userId}
    </select>
    
    <!-- pk값인 id로 조회 값이 하나만 나옴 -->
    <select id="findOrderById" resultType="com.example.order_service.dto.OrderDto">
    	SELECT * 
    	FROM orders 
    	WHERE id = #{id}
    </select>
    
    <insert id="saveOrder" keyColumn="id" keyProperty="id" useGeneratedKeys="true"> <!-- keyColumn="id" keyProperty="id" useGeneratedKeys="true" @jsonignore 때문에 값을 받고 싶으면 사용해야함 -->
    	INSERT INTO orders(product_id, user_id, total_amount)
    	VALUES(#{productId}, #{userId}, #{totalAmount})
    </insert>
    
     <delete id="deleteOrderById">
    	DELETE FROM orders 
    	WHERE id = #{id}
    </delete>
</mapper>